<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auto Data Visualization Tool{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1><i data-feather="bar-chart-2"></i>Auto Data Visualization Tool</h1>
            
            <nav class="main-nav">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('index') }}">Home</a>
                    <a href="{{ url_for('logout') }}">Logout ({{ current_user.email }})</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <p>Powered by 'मानचित्र'</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>